<h2>User: <%= @user.user_name %></h2>
e-mail: <%= @user.email %><br />
full name: <%= @user.profile.full_name %><br />
age: <%= @user.profile.age %><br />
gender: <%= @user.profile.gender %><br />
about me: <%= @user.profile.about %><br />
